In [1]:
import pandas as pd
import numpy as np

In [2]:
dict = {"Roll number:": [11, 22, 33, 44],
        "Student": ["Arnav", "Neha",
                    "Priya", "Rahul"],
        "Marks": [85, 92, 78, 83],
        "Sports": ["Cricket", "Volleyball",
                   "Hockey", "Badminton"]}

In [5]:
df = pd.DataFrame(dict)

In [6]:
df.rename(columns={
    'Roll number': 'Random value 1',
    'Student': 'Random value 2',
    'Marks': 'Random value 3',
    'Sports': 'Random value 4'
}, inplace=True)

In [7]:
random_value_2_3_loc = df.loc[:, ['Random value 2', 'Random value 3']]
print("Using loc:\n", random_value_2_3_loc)

Using loc:
   Random value 2  Random value 3
0          Arnav              85
1           Neha              92
2          Priya              78
3          Rahul              83

In [8]:
random_value_2_3_iloc = df.iloc[:, [1, 2]]
print("\nUsing iloc:\n", random_value_2_3_iloc)

Using iloc:
   Random value 2  Random value 3
0          Arnav              85
1           Neha              92
2          Priya              78
3          Rahul              83